    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&family=Roboto:wght@300&family=Rubik+Iso&family=Special+Elite&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Poppins:wght@300&family=Quicksand&family=Roboto:wght@300&family=Rubik+Iso&family=Special+Elite&display=swap');

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(31,212,193,1) 0%, rgba(45,253,93,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Iso', cursive;
    color:rgba(0, 0, 0, 0.933);
    font-size: 2rem;
}

.moves {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 1rem;
}

.n-game-continer {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 5px 15px;
    width: 7rem;
    background: rgba(202, 216, 255, 0.933);
    font-family: 'Handjet', cursive;
    font-size: 1.2rem;
    border-radius: 15%;
}